<!DOCTYPE html>
<html>
<head>
    <title>Anytime Fitness Terry Fox</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Grand Opening Sale</h1>
        <h4>Kanata's brand new 24/7 access fitness club</h4>
        <p>Enter your information below to take advantage of our free signup! </p>

        <!-- Form here -->
        <form action="/signup" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required>
            <input type="submit" value="Submit">
        </form>
        <p>
            <a href="https://www.anytimefitness.com/schedule-an-appointment-online/?club=5464" target="_blank">Schedule a Tour</a>
            | <a href="https://www.instagram.com/anytimefitnessterryfox/" target="_blank">Follow Us on Instagram</a>
            | <a href="https://maps.app.goo.gl/5pfLRHsxyMWi1yLu8" target="_blank">Google Maps</a>
        </p>
    </div>
</body>
</html>
