<!DOCTYPE html>
<html>
<head>
    <title>Anytime Fitness Terry Fox</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">

    <!-- Twitter conversion tracking base code -->
    <!-- <script>
        !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
        },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='https://static.ads-twitter.com/uwt.js',
        a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
        twq('config','oka17');
    </script> -->
    <!-- End Twitter conversion tracking base code -->
    
    <!-- Twitter conversion tracking event code -->
    <!-- <script type="text/javascript">
        // Insert Twitter Event ID
        twq('event', 'tw-oka17-oka19', {conversion_id: "{{ sessionId }}"});
    </script> -->
    <!-- End Twitter conversion tracking event code -->

    <!-- Twitter conversion tracking base code (DIMITRI AD)-->
    <script>
        !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
        },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='https://static.ads-twitter.com/uwt.js',
        a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
        twq('config','okm5w');
    </script>
    <!-- End Twitter conversion tracking base code -->

    <!-- Twitter conversion tracking event code (DIMITRI AD)-->
    <script type="text/javascript">
        // Insert Twitter Event ID
        twq('event', 'tw-okm5w-okm6k', {
            conversion_id: "{{ sessionId }}"  
        });
    </script>
    <!-- End Twitter conversion tracking event code -->
    
</head>
<body>
    <div class="container">
        <h1>Grand Opening Sale</h1>
        <h4>Kanata's brand new 24/7 access fitness club</h4>
        <p>Exclusive Offer: Normally $79, sign up now for just $1! <br><span class="space-after-br">Enter your details below to secure this limited-time deal!</span></p>

        <!-- Form here -->
        <form action="/signup" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required>
            <input type="hidden" name="referer" value="{{ referer }}">
            <input type="submit" value="Submit">
        </form>
        <p>
            <a href="https://www.anytimefitness.com/schedule-an-appointment-online/?club=5464" target="_blank" id="scheduleTourLink" >Schedule a Tour</a>
            | <a href="https://www.instagram.com/anytimefitnessterryfox/" target="_blank" id="followInstaLink" >Follow Us on Instagram</a>
            | <a href="https://maps.app.goo.gl/5pfLRHsxyMWi1yLu8" target="_blank" id="googleMapsLink" >Google Maps</a>
        </p>
        <script type="text/javascript">
            // General function to track any link click event
            function trackLinkClick(actionIdentifier) {
                // Send data to server for database logging
                fetch('/track-click', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        action: actionIdentifier,
                        timestamp: new Date().toISOString(),
                    }),
                })
                .then(response => response.json())
                .then(data => console.log('Success:', data))
                .catch((error) => console.error('Error:', error));
            }

            // Attach click event listeners to each link with the respective action identifier
            document.getElementById('scheduleTourLink').addEventListener('click', function() {
                trackLinkClick("schedule_tour_clicked");
            });

            document.getElementById('followInstaLink').addEventListener('click', function() {
                trackLinkClick("follow_instagram_clicked");
            });

            document.getElementById('googleMapsLink').addEventListener('click', function() {
                trackLinkClick("google_maps_clicked");
            });
        </script>
    </div>
</body>
</html>
