body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f0f2f5;
    background-image: url('/static/images/gym_photo.png'); /* Example background image */
    background-size: cover;
    background-position: center;
    color: #333;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 500px; /* Increased width */
    margin: 40px auto;
    text-align: center;
}

h4 {
    color: #4A154B; /* Anytime Fitness Purple */
    margin: 10px 0 20px; /* Add some spacing */
}

label {
    text-align: left; /* Align label text to the left */
    display: block;
    margin-left: 10px; /* Adjust as needed */
    font-weight: bold; /* Optional: Makes labels stand out */
}

input[type=text], input[type=email], input[type=tel] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    display: block;
    width: calc(100% - 22px); /* Adjust width to fit the container */
    margin: 10px 0; /* Center inputs within the form */
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus {
    outline: none;
    border-color: #4A154B;
    box-shadow: 0 0 0 2px rgba(74, 21, 75, 0.25);
}

input[type=submit] {
    background-color: #4A154B; /* Button color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    padding: 12px;
    width: 50%; /* Makes the button 2/3 the width of the container */
    margin: 20px auto; /* Centers the button within the form */
    display: block; /* Ensures the width percentage is respected */
}

input[type=submit]:hover {
    background-color: #371037;
}

a:hover {
    text-decoration: underline;
    color: #371037; /* Darker shade for contrast */
}

form {
    margin-top: 20px; /* Adds space between the text and form */
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
        margin: 20px auto;
        max-width: 90%; /* Make sure the form is responsive on smaller screens */
    }
}


/* Add any other styles for links or specific elements as needed */
.container p:first-child {
    font-weight: bold;
    color: #4A154B; /* Adjust the color to match your design */
}