/* Default font size for larger screens */
/*body, input, button, p, h1, h2, h3, label {*/
/*    font-size: 16px; !* Adjust as needed *!*/
/*}*/

/* Media query for smartphones */
@media (max-width: 768px) {
    body, input, button, p, h1, h2, h3, label {
        font-size: 14px; /* Smaller font size for small screens */
    }

    /* You might want specific elements to have different sizes */
    h1 {
        font-size: 24px; /* Slightly larger font size for headings */
    }
    p, label {
        font-size: 14px; /* Even smaller font for less critical text */
    }
}

html, body {
    margin: 0; /* Useful for fitting text on small screens*/
    font-family: 'Arial', sans-serif;
    background-image: url('https://res.cloudinary.com/dqewhz92k/image/upload/f_auto,q_auto/good_qldvie');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-position: center; /*Center the background image */
    color: #333;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 500px; /* Increased width */
    margin: 40px auto;
    text-align: center;
}

h4 {
    color: #4A154B; /* Anytime Fitness Purple */
    margin: 10px 0 20px; /* Add some spacing */
}

label {
    text-align: left; /* Align label text to the left */
    display: block;
    margin-left: 10px; /* Adjust as needed */
    font-weight: bold; /* Optional: Makes labels stand out */
}

input[type=text], input[type=email], input[type=tel] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    display: block;
    width: calc(100% - 22px); /* Adjust width to fit the container */
    margin: 10px 0; /* Center inputs within the form */
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus {
    outline: none;
    border-color: #4A154B;
    box-shadow: 0 0 0 2px rgba(74, 21, 75, 0.25);
}

input[type=submit] {
    background-color: #4A154B; /* Button color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    padding: 12px;
    width: 50%; /* Makes the button 2/3 the width of the container */
    margin: 20px auto; /* Centers the button within the form */
    display: block; /* Ensures the width percentage is respected */
}

input[type=submit]:hover {
    background-color: #371037;
}

a:hover {
    text-decoration: underline;
    color: #371037; /* Darker shade for contrast */
}

form {
    margin-top: 20px; /* Adds space between the text and form */
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        /*width: 90%;*/
        width: auto;
        margin: 20px auto;
        max-width: 90%; /* Make sure the form is responsive on smaller screens */
    }
}

.space-after-br {
    display: block;
    margin-top: 10px; /* Adjust the space as needed */
}

/* Add any other styles for links or specific elements as needed */
.container p:first-child {
    font-weight: bold;
    color: #4A154B; /* Adjust the color to match your design */
}